body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#0b0b0b;
}

.container{
  width:400px;
  height:300px;
  background:#1f2c97;
  position:relative;
  overflow:hidden;
}

/* FORMAS */

.square{
  width:55px;
  height:55px;
  background:#6bb6c3;
  position:absolute;
}

.circle{
  width:55px;
  height:55px;
  background:#d85aa0;
  border-radius:50%;
  position:absolute;
}

/* ARRIBA IZQUIERDA */

.s1{
  top:20px;
  left:20px;
}

.c1{
  top:20px;
  left:95px;
}

/* ARRIBA DERECHA */

.c2{
  top:20px;
  right:95px;
}

.s2{
  top:20px;
  right:20px;
}

/* ABAJO IZQUIERDA */

.c3{
  bottom:20px;
  left:20px;
}

.s3{
  bottom:20px;
  left:95px;
}

/* ABAJO DERECHA */

.s4{
  bottom:20px;
  right:95px;
}

.c4{
  bottom:20px;
  right:20px;
}